<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">

      

  </head>
    
    
    <style>

      /* Padding for spacing */



/*
 * Header
 */

      .masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 30px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fafafa;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(2, 2, 2, 0.6);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
}
</style>
    
    
    

      <body>
      
    
        <div class="cover-container">

          <div class="masthead clearfix">
              <nav>
                <ul class="nav masthead-nav">

            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>

                </ul>
        </nav>
      </div>
               </div>
