<<<<<<< HEAD
/* custom styles go here */
=======
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
>>>>>>> 7da5e182759324d892d93f4ede1e17872371f769
